<!-- Header -->

<header>
    <div class="jumbotron rounded-0 ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="display-5 text-break animated fadeInDown">Olá! Eu sou a <span
                            class="font-weight-bolder text-purple">{{ site.author }}</span></h2>
                    <p class="lead text-break text-sm-center text-md-left">{{ site.description }}</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg bg-purple mr-2" href="/contato" role="button"><i
                            class="fas fa-handshake"></i> Contratar</a>
                    <a class="btn btn-info btn-lg" href="http://www.linkedin.com/in/janynnegomes" role="button"
                        target="_blank"><i class="fab fa-linkedin"></i> Ver Linkedin</a>
                </div>
                <div class="col-md-4">
                    <img src="./assets/images/top.svg" class="top-ilustration animated fadeInRight">
                </div>
            </div>
        </div>
    </div>
</header>