<app-page-template [title]="title" [excerpt]="excerpt" [icon]="icon">
    <p>E-mail: janynnegomes@gmail.com</p>
    <h3 id="redes-sociais">Redes Sociais</h3>
    <ul>
        <li>Github e Twitter:&nbsp;<a href="https://github.com/janynnegomes">@janynnegomes</a></li>
        <li>Facebook:&nbsp;<a
                href="https://www.facebook.com/DiarioDeUmaProgramadorA">https://www.facebook.com/DiarioDeUmaProgramadorA</a>
        </li>
        <li>Facebook:&nbsp;<a href="https://www.facebook.com/janynnegomes">https://www.facebook.com/janynnegomes</a>
        </li>
        <li>Instagram: janynnegomesdev</li>
        <li>Slideshare:&nbsp;<a
                href="https://www.slideshare.net/janynnegomes/presentations">https://www.slideshare.net/janynnegomes</a>
        </li>
        <li>LinkedIn:&nbsp;<a
                href="https://www.linkedin.com/in/janynnegomes/">https://www.linkedin.com/in/janynnegomes</a></li>
        <li>Youtube:&nbsp;<a href="https://www.youtube.com/janynnegomes">https://www.youtube.com/janynnegomes</a></li>
    </ul>
</app-page-template>