 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SOBRE</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Amo ter o poder de construir soluções úteis e divertidas. Dar vida às idéias e materializá-las em software utilizando as melhores práticas é o que me motiva a me atualizar sempre com as novas tendências. </p>
                    <p>Tenho uma experiência importante na linguagem C # e Microsoft. NET Framework desde as primeiras versões. Crio soluções web usando Web Forms, MVC, Entity Framework, AJAX, jQuery e CSS e estive estudando TDD e como ele é importante para a qualidade do software. </p><p>Vivi o que é o trabalho em equipe de verdade e vi como a tecnologia pode nos ajudar na integração continua e otimizar nosso desempenho usando ferramentas de ALM como Team Foundation Server e Visual Studio. </p>
                </div>
                <div class="col-lg-4">
                    <p>
Como se não bastasse, dedico uma parte importante do meu tempo livre para construir aplicativos para dispositivos móveis, porque eu sou fã de desse tipo de desenvolvimento. </p>
<p>Tive a oportunidade de estagiar no laboratório de robótica da NASA em Greenbelt, MD em 2010, desenvolvendo uma aplicação em C# controladora de um scanner 360° pra mapeamento 3D do ambiente, prototipado para exploração territorial em Marte. 
<img style="width:350px; height:auto;" src="https://lh4.googleusercontent.com/-ugC8B6kIToI/TD_WIoNKtcI/AAAAAAAAAf4/hgyvaV2s7AsqL-HzUZjGiIb3ETrZxAFvACL0B/w784-h588-no/DSC07115.JPG"></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://plus.google.com/photos/104225892491211904625/albums/5494360403710209969" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-camera-retro"></i> Ver fotos da aventura
                    </a>
                </div>
            </div>
        </div>
    </section>