<!-- Footer -->
<footer id="footer" class="bg-secondary text-light bg-dark shadow">
    <div class="jumbotron bg-dark  mb-0">
        <div class="row">
            <div class="col-md-6 profile-box">
                
                <div class="row mb-5">
                    <div class="col-md-3">
                        <img src="https://media.licdn.com/dms/image/C4E03AQEhdgbtMn-Qag/profile-displayphoto-shrink_200_200/0?e=1567036800&v=beta&t=A8YyVYwTpkFY8G0VYUhlczTSpLdOsKdKCuAXU0QXfnQ"
                            alt="..." class="img-thumbnail rounded-circle">
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"> {{ site.mini_bio }}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3 sitemap-box">
                <div class="container">
                    <h3>Sitemap</h3>
                    <ul class="">
                        {% for item in site.data.menu %}
                        <li class="">
                        <a class="nav-link" href="{{ item.link }}" >{{ item.name}}  {% if page.url == item.link %} <span class="sr-only">(current)</span> {% endif %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>
           </div>
        
            <div class="col-md-3 social-box">
                <div class="container">
                    <h3>Redes sociais</h3>
                    <div class="row">
                        <div class="col">
                            <a href="{{ site.data.social[0].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[0].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[1].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[1].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[2].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[2].icon}}"></i></h1>
                            </a>
                        </div>
                       
                        <div class="w-100"></div>
                        <div class="col">
                            <a href="{{ site.data.social[3].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[3].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[4].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[4].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[5].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[5].icon}}"></i></h1>
                            </a>
                        </div>
                       

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container-fluid mt-0 pb-3 pt-3 bg-secondary text-center ">
        <div class="row ">
            <div class="col">
                Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }} - Desenvolvido e desenhado com amor por {{ site.author}}
            </div>
        </div>
    </div>
</footer>

