<!-- Footer -->
<footer id="footer" class="bg-secondary text-light bg-dark">
    <div class="jumbotron bg-dark">
        <div class="row">
            <div class="col-md-8">
                <h3>Sobre mim</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://media.licdn.com/dms/image/C4E03AQEhdgbtMn-Qag/profile-displayphoto-shrink_200_200/0?e=1567036800&v=beta&t=A8YyVYwTpkFY8G0VYUhlczTSpLdOsKdKCuAXU0QXfnQ"
                            alt="..." class="img-thumbnail rounded-circle">
                    </div>
                    <div class="col-md-9">
                        <p class="card-text"> {{ site.mini_bio }}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="container">
                    <h3>Redes sociais</h3>
                    <div class="row">
                        <div class="col">
                            <a href="{{ site.data.social[0].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[0].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[1].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[1].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[1].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[1].icon}}"></i></h1>
                            </a>
                        </div>
                       
                        <div class="w-100"></div>
                        <div class="col">
                            <a href="{{ site.data.social[2].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[2].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[3].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[3].icon}}"></i></h1>
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ site.data.social[1].url}}" target="_blank">
                                <h1><i class="{{ site.data.social[1].icon}}"></i></h1>
                            </a>
                        </div>
                       

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="container bg-secondary text-center">
        <div class="row">
            <div class="col">
                Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
            </div>
        </div>
    </div>
</footer>

