<!-- Header -->
<header>
    <div class="jumbotron rounded-0 shadow-sm">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3 class="display-4">{{ page.title }}</h3>
                <p class="lead">{{ page.excerpt }}</p>
                <hr class="my-4">

                {% for category in page.categories %}
                    <span class="badge badge-pill badge-primary">{{ category.name }}</span>                    
                {% endfor %}
                
            </div>
        </div>
    </div>
</header>