<!-- NEED TO FIX -->
<script>
$('.carousel').carousel({
  interval: 800
})
</script>
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            
            {% for screenshot in page.screenshots %}
                <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.index }}" class="{% if forloop.first == true %}active {% endif %}"></li>
                
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for screenshot in page.screenshots %}
            <div class="carousel-item {% if forloop.first == true %}active {% endif %}">
                <img src="{{ site.base_url}}/assets/images/portfolios/{{ screenshot.url}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block ">
                    <p class="badge badge-pill badge-dark mt-2 mb-2">{{ screenshot.name}}</p>                    
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>