<!-- Header -->

<section id="recomendations" class=" bg-secondary portfolio-section container-fluid">
    <div class="container">
        <div class="row">
        <div class="col-md-2">
            <span style="font-size: 75pt;" class="text-light">&#8220;</span>
        </div>
        <div class="col-md-10">
        <blockquote class="blockquote animated bounceInUp">
            <p class="mb-0 text-light small">Tive a oportunidade de conhecer a Janynne logo no início da sua carreira e logo
                percebi seu
                talento na adoção de tecnologias em prol de resultados no negócio. Janynne se destacou pela
                proatividade,
                inovação e capacidade de aprender novas tecnologias. Trabalhamos juntos por um período onde pude
                aprender
                bastante com ela e de lá para cá fico orgulhoso do seu crescimento e posicionamento profissional. Sem
                dúvidas indico e ficaria muito feliz em tê-la novamente em minha equipe.</p>
            <footer class="blockquote-footer text-white-50">Wesley Costa Silva, PMP®, PSM, MSc. <cite
                    title="Source Title">IT Porfólio
                    Manager na ArcelorMittal || Professor MBA no IETEC || Mestre - IETEC || MBA em Gestão de Projetos -
                    FGV</cite> via LinkedIn</footer>
        </blockquote>
    </div>

    </div> 
    </div>
   
</section>