<div class="container animated fadeIn">
        <div class="row  m-4 text-center">
                <div class="col">
                    <h3>Desenvolvimento</h3>
                </div>
            </div>
    <div class="row mb-4">

        <div class="col-md-4">
            <div
                class="card border-left-0 border-right-0 border-bottom-0 border-top-5 border-primary shadow-sm rounded-0 card-servicos ">
                <div class="card-body">
                    <h1><i class="fas fa-globe-americas text-primary"></i></h1>
                    <h3 class="text-primary">Web Dev</h3>
                    <p>Criação de websites institucionais e pessoais.</p>
                              
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div
                class="card border-left-0 border-right-0 border-bottom-0 border-top-5 border-primary shadow-sm rounded-0 card-servicos">
                <div class="card-body">
                    <h1><i class="fab fa-mixcloud text-primary"></i></h1>
                    <h3 class="text-primary">Web App</h3>
                    <p>Criação de aplicações que rodam na web utilizando a arquitetura e infra-estrutura de computação em nuvem.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div
                class="card border-left-0 border-right-0 border-bottom-0 border-top-5 border-primary shadow-sm rounded-0 card-servicos">
                <div class="card-body">
                    <h1><i class="fas fa-mobile-alt text-primary"></i></h1>
                    <h3 class="text-primary">Mobile Apps</h3>
                    <p>Criação de aplicativos para iOS e Android, bem como sua distribuição nas lojas App Store e Play Store</p>
                    
                </div>
            </div>
        </div>

    </div>
    <div class="row  m-4 text-center">
        <div class="col">
            <h3>Negócios</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div
                class="card border-left-0 border-right-0 border-bottom-0 border-top-5 border-primary shadow-sm rounded-0 card-servicos">
                <div class="card-body">
                    <h1><i class="fas fa-dice-d6 text-primary"></i></h1>
                    <h3 class="text-primary">Canvas design</h3>
                    <p>Consultoria na elaboração do CANVAS para modelagem do negócio da startup</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div
                class="card border-left-0 border-right-0 border-bottom-0 border-top-5 border-primary shadow-sm rounded-0 card-servicos">
                <div class="card-body">
                    <h1><i class="fas fa-users text-primary"></i></h1>
                    <h3 class="text-primary">Gestão do projeto</h3>
                    <p>Gestão de projetos de desenvolvimento de sistemas utilizando metodologias ágeis como SCRUM e XP.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div
                class="card border-left-0 border-right-0 border-bottom-0 border-top-5 border-primary shadow-sm rounded-0 card-servicos">
                <div class="card-body">
                    <h1><i class="fas fa-project-diagram text-primary"></i></h1>
                    <h3 class="text-primary">Modelagem do sistema</h3>
                    <p>Elaboração de análise e modelagem do sistema com produção de modelos UML que modelam o comportamento e estrutura do projeto á ser desenvolvido.</p>
                    
                </div>
            </div>
        </div>


    </div>

    
</div>