<app-page-template [title]="title" [excerpt]="excerpt" [icon]="icon">

    <p><strong><em>Engenheira de Software</em></strong>&nbsp;com mais de 11 anos de experi&ecirc;ncia em
        desenvolvimento. Experi&ecirc;ncia internacional em BootCamp de rob&oacute;tica na NASA GSFC nos EUA.
        S&oacute;lidos conhecimentos em UML, OOP, Java, PHP, Javascript, Angular, NodeJS, MySQL, Ionic, WordPress,
        Jasmine, PHPUnit e Scrum. Forte relacionamento interpessoal com facilidade de comunica&ccedil;&atilde;o em
        ingl&ecirc;s e portugu&ecirc;s. &nbsp;</p>
    <h3 id="forma&ccedil;&atilde;o">Forma&ccedil;&atilde;o</h3>
    <ul>
        <li>Bacharel em Sistemas de Informa&ccedil;&atilde;o, j&aacute; lecionei em gradua&ccedil;&atilde;o e curso
            t&eacute;cnico disciplinas de programa&ccedil;&atilde;o e Interface Homem M&aacute;quina, tenho at&eacute;
            um&nbsp;<a href="https://sites.google.com/site/professorajanynnegomes/">site com os materiais para os
                alunos</a>&nbsp;.</li>
        <li>Participei do est&aacute;gio de rob&oacute;tica no&nbsp;<a
                href="http://www.nasa.gov/centers/goddard/home/index.html">NASA Goddard Space Fligth Center</a>&nbsp;de
            julho&nbsp;&agrave; Agosto de 2010 programando para comunica&ccedil;&atilde;o de&nbsp;dispositivos em rede e
            imagens tridimensionais utilizando o framework .NET 3.5 .</li>
        <li>Participo&nbsp;ativamente da comunidade t&eacute;cnica de Governador Valadares&nbsp;<a
                href="https://www.facebook.com/groups/1407520159508452/">Developers &amp; TI GV&nbsp;</a>tendo
            palestrado sobre Desenvolvimento Android em um dos meetups.</li>
    </ul>
    <hr />
    <h3 id="mini-bio">&nbsp;Mini bio</h3>
    <p>Sou programadora, m&atilde;e, educadora em tecnologia. Bacharel em Sistemas de Informa&ccedil;&atilde;o e
        p&oacute;s graduanda no MBA em Gest&atilde;o da Tecnologia da Informa&ccedil;&atilde;o. Atuo ha mais de 10 anos
        como desenvolvedora criando softwares customizados e integrados. Hoje foco minhas habilidades no desenvolvimento
        de aplicativos m&oacute;veis para atender startups e no ensino de programa&ccedil;&atilde;o para alunos de
        n&iacute;vel t&eacute;cnico no SENAI. Anteriormente compartilhei meus conhecimentos e experi&ecirc;ncias
        lecionando em cursos de gradua&ccedil;&atilde;o e t&eacute;cnico da Univale.</p>
    <hr />
    <h3 id="publica&ccedil;&otilde;es-na-imprensa">Publica&ccedil;&otilde;es na imprensa</h3>
    <ol>
        <li><a
                href="http://noticias.r7.com/tecnologia-e-ciencia/noticias/mineira-de-valadares-e-selecionada-para-a-nasa-20100506.html">Mineira
                de Valadares &eacute; selecionada para a Nasa</a></li>
        <li><a href="http://www.univale.br/noticia/1262/Aluna-da-Univale-fara-visita-a-NASA.aspx">Aluna da Univale
                far&aacute; visita &agrave; NASA</a></li>
        <li><a href="http://www.univale.br/noticia/1305/Confira-hoje-as-19h-o-bate-papo-com-Janynne-Gomes-.aspx">Confira
                hoje &agrave;s 19h o bate-papo com Janynne Gomes</a></li>
        <li><a href="http://blog.locaweb.com.br/marketing/ganhadora-da-promocao-da-locaweb-consegue-estagio-na-nasa/">Ganhadora
                da promo&ccedil;&atilde;o da Locaweb consegue est&aacute;gio na NASA</a></li>
        <li><a
                href="http://blog.campus-party.com.br/index.php/2010/06/28/entrevista-com-janynne-gomes-no-geek-vibrations/">Entrevista
                com Janynne Gomes no Geek Vibrations</a></li>
        <li><a href="http://blogs.estadao.com.br/radar-tecnologico/2011/01/19/da-campus-party-para-a-nasa/">Da Campus
                Party para a Nasa</a></li>
        <li><a
                href="http://todateen.uol.com.br/diversao/729/materia/conheca-a-historia-da-garota-brasileira-que-foi-para-a-nasa.html">Conhe&ccedil;a
                a hist&oacute;ria da garota brasileira que foi para a NASA</a></li>
        <li><a href="http://veja.abril.com.br/noticia/ciencia/nasa-quer-programadores-brasileiros-para-estagio-nos-eua">Nasa
                quer programadores brasileiros para est&aacute;gio nos EUA</a></li>
        <li><a href="http://www.youtube.com/watch?v=Vhal08zXmt8">Campus Party 2011 &ndash; Diego Nogare entrevista Janny
                Gomes</a></li>
        <li><a href="http://www.imperdiblemagazine.com/?p=82">Janynne Gomes &ndash; De la Campus a un Gran Futuro</a>
        </li>
    </ol>
</app-page-template>