---
---
.top-ilustration{
    width:100%;
}

.portfolio-page{
    
    .my-4{
        border: solid 5px red;
    }

    .bottom-portfolio
{
    background-image: url('{{ site.base_url}}/assets/images/topo-portfolio-page.png');
    background-clip: padding-box;
    background-position: bottom;
    background-size: contain;
    BACKGROUND-REPEAT: no-repeat;
}

}

.portfolio-section
{
    padding:40px;
}


.bg-primary, .bg-purple{
    background-color: purple !important;
    border:0px !important;
}

.text-purple{
    color: purple !important;
}

