---
---
.top-ilustration{
    width:100%;
}

.portfolio-page{
    
    .my-4{
        border: solid 5px red;
    }

}

.portfolio-section
{
    padding:40px;
}

#page-top
{
    .container-fluid{
        padding: 0px !important;
    }
}


.bg-primary, .bg-purple{
    background-color: purple !important;
    border:0px !important;
}

.text-purple{
    color: purple !important;
}