<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}

<body id="page-top " class="index">
    <div class="pl-0 pr-0 container-fluid portfolio-page">
        {% include nav.html %}
        {% include header-portfolio.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3><i class="fas fa-list"></i> Resumo</h3>
                    {{ content }}

                    <span>Habilidades: </span>
                    {% for skill in page.skills %}
                    <span class="badge badge-pill badge-primary">{{ skill.name }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-6">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                {% if page.screenshots %}
                                    <a class="nav-item nav-link active" id="nav-screenshot-tab" data-toggle="tab" href="#nav-screenshot"
                                    role="tab" aria-controls="nav-screenshot" aria-selected="true" title="Screenshots"><i class="fas fa-desktop"></i> </a>
                                {% endif %}
                                {% if page.videoId %}
                                <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video"
                                role="tab" aria-controls="nav-video" aria-selected="false"> <i class="fas fa-film"></i> </a>
                                {% endif %}

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-screenshot" role="tabpanel"
                            aria-labelledby="nav-screenshot-tab">
                            {% if page.screenshots %}
                            <img src="{{ site.base_url}}/assets/images/portfolios/{{ page.screenshots[0].url}}" class="d-block w-100" alt="...">
                            {% endif %}

                           </div>
                        <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.videoId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>



                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-star"></i> Funcionalidades principais
                        </div>
                        <div class="card-body">
                            
                            <ul class="list-group ">
                                {% for challenge in page.features %}
                                <li class="list-group-item border-0"> <i class="fas fa-check text-success"></i>
                                    {{ challenge.name }}</li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                                <i class="fas fa-tools"></i>  Tecnologias
                        </div>
                        <div class="card-body">
                            {% for tool in page.tools %}
                            <div class="list-group border-0">
                                <a href="#" class="list-group-item list-group-item-action  border-left">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ tool.name}}</h5>
                                    </div>
                                    <small>{{ tool.reason}}</small>

                                </a>
                            </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Disqus scripts-->
    <!-- TO DO -->
    <!-- End of disqus scripts-->

    {% include footer.html %}


    </div>
</body>

</html>